<div style="background-color: none; width: 400px; height: 500px; margin-right: 0; float: left;">
    <h1>Analytics for Carl</h1>
</div>
<%= image_tag 'analytics.png', :style => "float: right; padding: 20px 20px 0px 10px" %>
