<br />

<div id="feature_box">
  <div id="feature_column_left">
    <div id="feature_box_header">
    For Investors
    </div>
    <div id="header_shadow"></div>
    <span style="font-size:25px;">Investing. But easy.</span>
    <br />
    <span style="font-size:20px;">Choose category to invest in</span><br />
    <%= image_tag 'downArrow.gif', :size => "20x20" %><br />
    <span style="font-size:20px;">Vote on your favorite businesses</span><br />
    <%= image_tag 'downArrow.gif', :size => "20x20" %><br />
    <span style="font-size:20px;">Get almost guaranteed returns</span><br />
    <div id="get_started_button">Start Investing</div>
  </div>
  <div id="feature_column_right">
    <div id="feature_box_header">
      For Small Businesses
    </div>
    <div id="header_shadow"></div>
    <span style="font-size:25px;">Crowdsourced loans for small businesses</span>
    <br /><br />
    <span style="font-size:20px;">Create Business Page</span><br />
    <%= image_tag 'downArrow.gif', :size => "20x20" %><br />
    <span style="font-size:20px;">Market your page to get voted up</span><br />
    <%= image_tag 'downArrow.gif', :size => "20x20" %><br />
    <span style="font-size:20px;">Receive the funding you asked for</span><br />
    <div id="get_started_button">Get Funded</div>
    
  </div>
</div>